<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ReactExample</title>
        <link rel="stylesheet" href="/dist/main.css" />
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Running on @Environment.MachineName (@System.Runtime.InteropServices.RuntimeInformation.OSDescription)</p>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
