<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>NodeServices Examples</title>
        <link rel="stylesheet" href="~/css/chartist.min.css" />
    </head>
    <body>
        @RenderBody()
        
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Running on @Environment.MachineName (@System.Runtime.InteropServices.RuntimeInformation.OSDescription)</p>
            </div>
        </footer>
        
        @RenderSection("scripts", required: false)

    </body>
</html>
